{%extends 'main.html'%}
{% block content%}
  <body>
    <div class="center">
      <h1>Reset Password</h1>
    
      <div class="signup_link">Enter your email to reset password</div>

      <form method="POST">
        {% csrf_token %}
        <div class="txt_field">
          <input type="email" name='email' required>
          <span></span>
          <label>Email</label>
        </div>
        
        <input type="submit" value="Reset Password">
        <div class="signup_link">
          Not a member? <a href="{% url 'register'%}">Signup</a>
          <p>Remember your Password? <a href="{% url 'login'%}">Login</a></p> 
        </div>
      </form>
    </div>
{%endblock%}