{%extends 'main.html'%}
{% block content%}
    <div class="center">
      <h1>Reset Password</h1>
         {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
      <form method="POST">
        {% csrf_token %}

        <div class="txt_field">
          <input type="password" name='password' required>
          <span></span>
          <label>Password</label>
        </div>    

        <div class="txt_field">
            <input type="password" name='password1' required >
            <span></span>
            <label>Confirm Password</label>
        </div>    

        <input type="submit" value="Register">
        <div class="signup_link">
          Remember your password? <a href="{% url 'login'%}">Login</a>
        </div>
      </form>
    </div>
{% endblock %}